.fullscreen {
  height: calc(100vh - 58px);
}
h1, button {
  user-select: none;
}
.font0 {
  font-size: 0;
}
.app-banner {
  background-color: rgb(46, 45, 48);
  padding: 5px;
  border-radius: 5px;
  padding-top: 15px;
}
